body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

img {
    height: 10em;
    box-shadow: 10px 5px 5px lightgray;
}

.large-img {
    height: 25em;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: black;
}

nav a {
    color: lightsalmon;
}

li {
    width: 22em;
}

div {
    padding-bottom: 1em;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: lightsalmon;
    padding: 1.5em;
    padding-top: 0;
}

main {
    margin-bottom: 3em;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
    text-shadow: black 1px 0 1px;
    transition: text-shadow .15s ease-in-out;

}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    display: grid;
    grid-template-rows: auto 1fr;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    text-shadow: lightsalmon 1px 0 10px;
}
